<ion-view title="Progress" id="page1">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>